div.a {
    text-align: center;
  }
div.a{
   font-family: fantasy;
}

div.a{
    font-size: 150%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  body{
      background-color: khaki;
  }
 
  div.d  {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
  }

  div.p {
      font-size: 100%;
        background-color: yellow;
        color: black;
    
  }

  div.alfredo {
    font-family: fantasy;
    color: red;  
  }

  div.xx{
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
  }

  div.xxx{
    margin: auto;
    width: 60%;
    border: 3px solid white;
  }
div.x {
  margin: auto;
  width: 60%;
  border: 3px solid red;
  padding: 10px;
}